nav > ul{
    list-style: none;
    display: flex;
    margin: -70px 0px 0px 650px;
    padding: 0px;
    position: absolute;
}
li{
    display: inline;
}

li > a{
    text-decoration: none;
    font-family: Arial;
    font-size: 11px;
    color: #fff;
    padding: 15px;
    display: block;
    background: linear-gradient(to top,  rgba(179,213,223,0.62) 43%, rgba(100,178,200,0.92) 100%);

}
li > a:hover{
    background-color: #2586d7;
    margin-top: -2px;
    padding-bottom: 12px;
}
nav > ul li ul{
    display: none;
}
nav > ul li a:hover + ul,ul li ul:hover{
    display: block;
}

footer > img{
    width: 100px;
    height: 100px;
    margin-left: 200px;
    margin-top: -70px;
    position: absolute;

}
#logo{
    width: 150px;
    height: 150px;
    margin-left: -10px;
    margin-top: 0px;
    position: absolute;
}
#idioma1{
    width: 50px;
    margin-left: 820px;
    margin-top: 10px;
}
#idioma2{
    width: 45px;
}

.texto{
    margin-left: 350px;
    margin-right: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
footer{
    background-color: #233c42;
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 20px;

}
body{
    background: url("img/fondo.jpg");
}
#cabecera{
    width: 960px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
header{
    height: 150px;
    background-image: url("img/cabecera.jpg");
}
#titulo{
    font-size: 40px;
    line-height: 40px;
    font-family: "Bodoni MT Black";
    margin-right: 0px;
    margin-left: 100px;
    margin-top: -41px;
    color: aliceblue;
    background-color: #233c42;
}
nav{
    height: 0px;
    margin-top: 28px;
}
#relleno{
    width: 940px;
    height: auto;
    float: left;
    background: beige;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 10px;
}
#relleno h1{
    font-size: 40px;
    text-align: center;
    line-height: 500px;
}

section{
    margin-left: 440px;
    margin-right: 10px;
    margin-top: -240px;
    font-size: 18px;
    font-family: "Fira Code Light";
}
.pabajo{
    margin-left: 20px;
    margin-top: auto;
    margin-right: 10px;
}
h2{
    margin-top: 10px;
    margin-left: 20px;
    font-family: "Colonna MT";
    font-size: 36px;
    color: darkblue;
}
.linea{
    background-color: #2586d7;
    line-height: 6px;
    width: 600px;
    margin-left: 20px;
}
.linea1{
    background-color: #2586d7;
    line-height: 4px;
    width: 600px;
    margin-left: 150px;
}
div > img{
    width: 200px;
    height: 200px;
    margin: 5%;
    float: left;
}
p1,p2,p3{
    margin-left: 100px;
    position: absolute;
}
p4{
    margin-left: -760px;
    position: absolute;
    margin-top: 280px;
}
p5{
    margin-left: -470px;
    position: absolute;
    margin-top: 280px;
}
p6{
    margin-left: -200px;
    position: absolute;
    margin-top: 280px;
}
p7{
    margin-left: -800px;
    position: absolute;
    margin-top: 550px;
}
p8{
    margin-left: -470px;
    position: absolute;
    margin-top: 550px;
}
p9{
    margin-left: -170px;
    position: absolute;
    margin-top: 550px;
}
p10{
    float: left;
    margin-left: -780px;
    position: absolute;
    margin-top: 820px;
}
.t{
    text-align: center;
}
.info{
    margin: auto;
    text-align: center;
    color: darkmagenta;
}
